{% extends "base.html" %}
{% block content %}

<h1>Admin page</h1><br>

<div id="user_management">
    <a href="/register">
        <button>
            Register new user <i class="fa-solid fa-user"></i>
        </button>
    </a>
</div><br>

<div id="searchProject">
    <input type="text" id="searchProjectInput" onkeyup="searchProjectTable()" placeholder="Search for Project names">
</div>

<div id="project-data1">
    <table id="project-table" class="table table-striped">
        <thead id="project-header"></thead>
        <tbody id="project-body"></tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='api.js') }}"></script>
<script src="https://kit.fontawesome.com/d0443263ba.js" crossorigin="anonymous"></script>

<script>
    function searchProjectTable() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchProjectInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("project-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


{% endblock %}