{% extends "base.html" %} {% block content %}

<h1>Order a new project</h1>

<form action="/order_project" method="POST">
  {{ project_form.hidden_tag() }}

  <!-- Basic project form -->
  <h3>Project details</h3>
  <!-- Project name -->
  <div class="project_name">
    <h4 id="project_name">Project name</h4>
    <p>{{ project_form.project_name() }}</p>
  </div>

  <!-- Project description -->
  <div class="project_description">
    <h4 id="project_description">Project description</h4>
    <p>{{ project_form.project_description() }}</p>
  </div>

  <!-- Pseudonymisation options -->
  <div class="pseudo_type">
    <h4>Select pseudonymisation model</h4>
    <select name="pseudo_type" id="pseudo_type" class="form-control selectpicker" data-live-search="true"
      data-actions-box="true">
      <tr>
        {% for btn in project_form.pseudo_type %}
        <td>{{ btn.label }}</td>
        <td>{{ btn }}</td>
        {% endfor %}
      </tr>
    </select>
    {% if project_form.errors.pseudo_type %}
    <p class="error">{{ project_form.errors.pseudo_type[0] }}</p>
    {% endif %}
  </div>

  <!-- Data delivery options -->
  <div class="data_delivery">
    <h4>Select Data delivery</h4>
    <select name="data_delivery" id="data_delivery" class="form-control selectpicker" data-live-search="true" multiple
      data-actions-box="true">
      <tr>
        {% for btn in project_form.data_delivery %}
        <td>{{ btn.label }}</td>
        <td>{{ btn }}</td>
        {% endfor %}
      </tr>
    </select>
    {% if project_form.errors.data_delivery %}
    <p class="error">{{ project_form.errors.data_delivery[0] }}</p>
    {% endif %}
  </div>
  <br>

  <!-- Extended examination form -->
  <h3>Data criteria selection</h3>

  <!-- Date selection -->
  <div class="date_selection">
    <h4 id="start_date">Start date</h4>
    <p>{{examination_form.start_date(class='datepicker')}}</p>
    <h4 id="end_date">End date</h4>
    <p>{{examination_form.end_date(class='datepicker')}}</p>
  </div>

  <!-- Modality options -->
  <div class="modalities">
    <h4>Select modality type</h4>
    <select name="modalities" id="modalities" class="form-control selectpicker" data-live-search="true" multiple
      data-actions-box="true">
      <tr>
        {% for btn in examination_form.modalities %}
        <td>{{ btn }}</td>
        {% endfor %}
      </tr>
    </select>
    {% if examination_form.errors.modalities %}
    <p class="error">{{ examination_form.errors.modalities[0] }}</p>
    {% endif %}
  </div>

  <!-- Examination options -->
  <div class="examination_options">
    <h4>Select examinations</h4>
    <select name="examination" id="examination" class="form-control selectpicker" data-live-search="true" multiple
      data-actions-box="true">
      {% for btn in examination_form.examination %}
      <td>{{ btn }}</td>
      {% endfor %}
    </select>
    {% if examination_form.errors.examination %}
    <p class="error">{{ examination_form.errors.examination[0] }}</p>
    {% endif %}
  </div>

  <!-- Patient gender -->
  <div class="patient_gender">
    <h4>Select patient gender</h4>
    <select name="patient_gender" id="patient_gender" class="form-control selectpicker" data-live-search="true"
      data-actions-box="true">
      <tr>
        {% for btn in examination_form.patient_gender %}
        <td>{{ btn.label }}</td>
        <td>{{ btn }}</td>
        {% endfor %}
      </tr>
    </select>
    {% if examination_form.errors.patient_gender %}
    <p class="error">{{ examination_form.errors.patient_gender[0] }}</p>
    {% endif %}
  </div><br>

  <!-- Optional fields -->
  <h4>Optional fields</h4>

  <!-- Patient age -->
  <div class="patient_age">
    <h4 id="min_patient_age">Minimum patient age</h4>
    <p>{{ examination_form.min_patient_age }}</p>

    <h4 id="max_patient_age">Maximum patient age</h4>
    <p>{{examination_form.max_patient_age }}</p>

    {% if examination_form.errors.max_patient_age %}
    <p class="error">{{ examination_form.errors.max_patient_age[0] }}</p>
    {% endif %}
  </div>

  <!-- Remittent opt -->
  <div class="remittent_options">
    <h4>Select remittents</h4>
    <select name="remittent" id="remittent" class="form-control selectpicker" data-live-search="true" multiple
      data-actions-box="true">
      {% for type in examination_form.remittent %}
      <td>{{ type }}</td>
      {% endfor %}
    </select>
    {% if examination_form.errors.remittent %}
    <p class="error">{{ examination_form.errors.remittent[0] }}</p>
    {% endif %}
  </div>

  <!-- Producing department -->
  <div class="producing_department_options">
    <h4>Select producing department</h4>
    <select name="producing_department" id="producing_department" class="form-control selectpicker"
      data-live-search="true" multiple data-actions-box="true">
      {% for type in examination_form.producing_department %}
      <td>{{ type }}</td>
      {% endfor %}
    </select>
    {% if examination_form.errors.producing_department %}
    <p class="error">{{ examination_form.errors.producing_department[0] }}</p>
    {% endif %}
  </div>

  <!-- Modality lab -->
  <div class="modality_lab_options">
    <h4>Select modality laboratories</h4>
    <select name="modality_lab" id="modality_lab" class="form-control selectpicker" data-live-search="true" multiple
      data-actions-box="true">
      {% for type in examination_form.modality_lab %}
      <td>{{ type }}</td>
      {% endfor %}
    </select>
    {% if examination_form.errors.modality_lab %}
    <p class="error">{{ examination_form.errors.modality_lab[0] }}</p>
    {% endif %}
  </div>
  
  <!-- radiology_verdict -->
  <h4 id="radiology_verdict">Verdict from radiologist {{ examination_form.radiology_verdict() }}</h4><br>

  <!-- Submit button -->
  <button type="button" class="explore_data_button" onclick="createKibanaLink()">
    Explore data
  </button>
  <br />
  <a target="_blank" id="data_link" class="data_link" href="">Kibana</a><br />
  <button class="submit_button">Submit order</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

{% endblock %}