<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Reaserch project - {{ project.project_name }}</h1>

    <h2></h2>

    <h2>Project description</h2>
    <span>{{ project.project_description }}</span>

    <h2>Pseudonymisation Model</h2>
    <p>This projct will apply the following pseudonymisation: <span style="font-weight: bold;">{{
            project.pseudonymisation_type }}</span></p>

    <h2>Data delivery</h2>
    <p>The data collected in this project will be delivered to:</p>
    {% for delivery in project.data_deliveries %}
    <ul>
        <li style="font-weight: bold;">{{ delivery.data_delivery }}</li>
    </ul>
    {% endfor %}




</body>

</html>