{% extends "base.html" %}
{% block content %}
<h1>Project</h1>

<div id="project-data1">
    <table id="project-table">
        <thead id="project-header">
            <tr>
                <th id="Project">Project</th>
                <th id="User">User</th>
                <th id="Status">Status</th>
                <th id="Pseudonymisation">Pseudonymisation</th>
                <th id="Data Deliveries">Data Deliveries</th>
                <th id="Modalities">Modalities</th>
                <th id="Examinations">Examinations</th>
                <th id="Patient gender">Patient gender</th>
                <th id="Date range">Date range</th>
                <th id="Date ordered">Date ordered</th>
                <th id="Age range">Age range</th>
                <th id="Remittances">Remittances</th>
                <th id="Producing departments">Producing departments</th>
                <th id="Modality laboratories">Modality laboratories</th>
                <th id="Radiology verdict">Radiology verdict</th>
            </tr>
        </thead>
        <tbody id="project-body">

            <tr>
                <td><a href="/projects/1"><button id="project-button">Female Sculs</button></a></td>
                <td><a href="/users/2"><button id="project-button">Gustav</button></a></td>
                <td>Waiting for ethical approval</td>
                <td>No pseudonymisation</td>
                <td>Kaapana, Dicom viewer</td>
                <td>CT</td>
                <td>Scul</td>
                <td>Female</td>
                <td>2000/01/01 - 2023/03/24</td>
                <td>2023/03/24</td>
                <td> - </td>
                <td>Neuro Solna, Neuro Huddinge</td>
                <td>Neuro Solna, Neuro Huddinge</td>
                <td>Lab 1</td>
                <td>false</td>
            </tr>


        </tbody>
    </table>
</div>


{% endblock %}