{% extends "base.html" %}
{% block content %}
<h1>Project</h1>

<div id="project-data1">
    <table id="project-table">
        <thead id="project-header">
            <tr>
                <th id="Project">Project</th>
                <th id="User">User</th>
                <th id="Status">Status</th>
                <th id="Pseudonymisation">Pseudonymisation</th>
                <th id="Data Deliveries">Data Deliveries</th>
                <th id="Modalities">Modalities</th>
                <th id="Examinations">Examinations</th>
                <th id="Patient gender">Patient gender</th>
                <th id="Date range">Date range</th>
                <th id="Date ordered">Date ordered</th>
                <th id="Age range">Age range</th>
                <th id="Remittances">Remittances</th>
                <th id="Producing departments">Producing departments</th>
                <th id="Modality laboratories">Modality laboratories</th>
                <th id="Radiology verdict">Radiology verdict</th>
            </tr>
        </thead>
        <tbody id="project-body"></tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='api.js') }}"></script>

{% endblock %}