{% extends "base.html" %}
{% block content %}

<h1>Welcome back {{current_user.username}}! </h1>

<!-- Projects section -->
<div class="user_projects">
    
    <div id="project-data">
        <h3 id="active-projects">Active projects</h3>
        <table id="project-table">
            <thead id="project-header">
                <tr>
                    <th id="Project">Project</th>
                    <th id="User">User</th>
                    <th id="Description">Description</th>
                    <th id="Status">Status</th>
                    <th id="Pseudonymisation">Pseudonymisation</th>
                    <th id="Data Deliveries">Data Deliveries</th>
                    <th id="Modalities">Modalities</th>
                    <th id="Examinations">Examinations</th>
                    <th id="Patient gender">Patient gender</th>
                    <th id="Date range">Date range</th>
                    <th id="Date ordered">Date ordered</th>
                    <th id="Age range">Age range</th>
                    <th id="Remittances">Remittances</th>
                    <th id="Producing departments">Producing departments</th>
                    <th id="Modality laboratories">Modality laboratories</th>
                    <th id="Radiology verdict">Radiology verdict</th>
                    <th id="pdf download">Download PDF</th>
                </tr>
            </thead>
            <tbody id="project-body"></tbody>
        </table>
    </div><br>

    <h3 id="user-info">User info</h3>
</div>

<script src="{{ url_for('static', filename='userProjectsApi.js') }}"></script>

{% endblock %}