<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ordering portal</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header class="nav_header">
        <a class="logo" href="/">Ordering Portal</a>
        <nav class="nav_bar">
            <ul class="nav_links">
                <li><a href="/order_project">Order a project</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <a class="login" href="/login"><button>Login</button></a>
    </header>
    
    <div class="main_content">
        {% block content %}
        <h1>Welcome to the Ordering Portal</h1>
        {% endblock %}
    </div>

    <footer class="footer">
        <p>This is the footer</p>
    </footer>
</body>
</html>