{% extends "base.html" %}
{% block content %}
<head>
    <h1>Login</h1>
</head>

<form action="" method="post">
    {{ form.hidden_tag() }}

    <!-- Email -->
    <div class="email_login">
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
    </div>
   
    <!-- Password -->
    <div class="password_login">
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
    </div>
    
    <!-- Remeber me -->
    <p class="remember_me">{{ form.remember() }} {{ form.remember.label }}</p>

    <!-- Login button -->
    <p class="button">{{ form.submit() }}</p>
</form>
{% endblock %}