{% extends "base.html" %}
{% block content %}
<head>
    <h1>Order a new project</h1>
</head>

<form action="/order_project" method="POST">
    {{ form.hidden_tag() }}
    <!-- Project name -->
    <div class="project_name">
        <p>{{ form.project_name.label }} {{ form.project_name() }}</p>
    </div>

    <!-- Date selection -->
    <div class="date_selection">
        <p>{{ form.startdate.label }} {{form.startdate(class='datepicker')}}</p>
        <p>{{ form.enddate.label }} {{form.enddate(class='datepicker')}}</p> 
    </div>

    <!-- Pseudonymisation options -->
    <div class="pseudo_options">
        <p>Pseudonymisation model:</p>
            <tr>
                {% for btn in form.pseudo_type %}
                    <td>{{ btn }}</td>
                    <td>{{ btn.label }}</td>
                {% endfor %}
            </tr>
    </div>

    <!-- Modality options -->
    <div class="modalities">
        <p>Select modalities</p>
        <select name="modalities" id="modalities" class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true">
            <tr>
                {% for btn in form.modalities %}
                    <td>{{ btn }}</td>
                {% endfor %}
            </tr>
        </select>
        {% if form.errors.modalities %}
        <p class="error">{{ form.errors.modalities[0] }}</p>
        {% endif %}
    </div>

    <!-- Examination options -->
    <div class="examination_options">
        <p>Select examinations:</p>
        <select name="examination" id="examination" class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true">
            {% for type in form.examination %}
                <td>{{ type }}</td>
            {% endfor %}
        </select>
        {% if form.errors.examination %}
        <p class="error">{{ form.errors.examination[0] }}</p>
        {% endif %}
    </div><br>

    <!-- Submit button -->
    <p class="button" ><button>Order project</button></p>
</form>
{% endblock %}