<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beställningsprotalen</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <a href="/order_project">Order a project</a>
        | 
        <a href="/about">About</a>
    </nav>

    <style>
        body {
        background-image: url({{ url_for("static", filename="images/background.jpg") }})
        }
    </style>
    {% block content %}
    <h1>Welcome to the orderingportal</h1>
    {% endblock %}
</body>
</html>