{% extends "base.html" %}
{% block content %}
<h1>Order a project</h1>

<form action="/order_project" method="POST">
    {{ project_form.hidden_tag() }}

    <p>{{ project_form.order_name.label }} {{ project_form.order_name() }}</p>

    <p>Modality options</p>
    <tr>
        {% for btn in project_form.modality_type %}
            <td>{{ btn }}</td>
            <td>{{ btn.label }}</td>
        {% endfor %}
    </tr>

    <p>Pseudonymisation model:</p>
    <tr>
        {% for btn in project_form.pseudo_type %}
            <td>{{ btn }}</td>
            <td>{{ btn.label }}</td>
        {% endfor %}
    </tr>

    <p>Select necessary examination:</p>
    <select name="examination" id="examination" class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true">
        {% for type in project_form.examination %}
            <td>{{ type }}</td>
        {% endfor %}
    </select>
    <p>{{ project_form.submit() }}</p>
</form>

<div class="error">'
    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
</div>


{% endblock %}