{% extends "base.html" %}
{% block content %}
<h1>Order a project</h1>

<form action="/order_project" method="POST">
    {{ project_form.hidden_tag() }}
    <!-- Project name -->
    <div class="project_name">
        <p>{{ project_form.project_name.label }} {{ project_form.project_name() }}</p>
    </div>

    <!-- Pseudonymisation options -->
    <div class="pseudo_options">
        <p>Pseudonymisation model:</p>
            <tr>
                {% for btn in project_form.pseudo_type %}
                    <td>{{ btn }}</td>
                    <td>{{ btn.label }}</td>
                {% endfor %}
            </tr>
    </div>

    <!-- Modality options -->
    <div class="modalities">
        <p>Select modalities</p>
        <select name="modalities" id="modalities" class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true">
            <tr>
                {% for btn in project_form.modalities %}
                    <td>{{ btn }}</td>
                {% endfor %}
            </tr>
        </select>
        {% if project_form.errors.modalities %}
        <p class="error">{{ project_form.errors.modalities[0] }}</p>
        {% endif %}
    </div>

    <!-- Examination options -->
    <div class="examination_options">
        <p>Select examinations:</p>
        <select name="examination" id="examination" class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true">
            {% for type in project_form.examination %}
                <td>{{ type }}</td>
            {% endfor %}
        </select>
        {% if project_form.errors.examination %}
        <p class="error">{{ project_form.errors.examination[0] }}</p>
        {% endif %}
    </div>

    <!-- Submit button -->
    <p class="button">{{ project_form.submit() }}</p>

</form>
{% endblock %}