{% extends "base.html" %}
{% block content %}
<h1>Order a project</h1>
<from action="/order_project" method="POST">
    {{ project_form.hidden_tag() }}
    <p>{{ project_form.order_name.label }} {{ project_form.order_name() }}</p>
    <p>Modality options</p>
    <tr>
        {% for btn in project_form.modality_type %}
            <td>{{ btn }}</td>
            <td>{{ btn.label }}</td>
        {% endfor %}
    </tr>
    <p>Pseudonymisation model:</p>
    <tr>
        {% for btn in project_form.pseudo_type %}
            <td>{{ btn }}</td>
            <td>{{ btn.label }}</td>
        {% endfor %}
    </tr>
    <p>{{ project_form.multiselect.label }}</p>
    {{ project_form.multiselect(**{"multiple": "multiple"}) }}
    <p>{{ project_form.submit() }}</p>  
</from>

<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 60
        })
    })
</script>

{% endblock %}