{% extends "base.html" %}
{% block content %}

<head>
    <h1>Register new user</h1>
  </head>
  <br>
  <body>
      <br>
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
              {{ form.username(size=32,placeholder="username") }}<br>
              {% for error in form.username.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.email(size=32,placeholder="email@gmail.com") }}<br>
              {% for error in form.email.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.password(size=32,placeholder="password*$%!@") }}<br>
              {% for error in form.password.errors %}
              <span class="error"></span>{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.password2(size=32,placeholder="password*$%!@") }}<br>
              {% for error in form.password2.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
          </p>
          <p class="button">{{ form.submit() }}</p>
      </form>
  </body>

{% endblock %}