.error {
    color:red;
}

/* Control size of examination selecter */
.bootstrap-select {
    width: 330px !important;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
  }

.nav_bar {
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}